body{

font-family: Arial;

background:#f3f5fa;

}


.container{

width:420px;

margin:50px auto;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px #ddd;

}



h1{

text-align:center;

color:#263b80;

}



input{

width:100%;

padding:14px;

margin:10px 0;

border-radius:10px;

border:1px solid #ccc;

font-size:16px;

box-sizing:border-box;

}



button{

width:100%;

padding:14px;

margin-top:10px;

border:none;

border-radius:10px;

background:#486fd1;

color:white;

font-size:16px;

cursor:pointer;

}



button:hover{

background:#304fa8;

}



#result{

margin-top:20px;

background:#eee;

padding:15px;

border-radius:10px;

word-break:break-word;

}